@charset "utf-8";

.content_1
    {
        background-image: url(../paper1.jpg);
        background-size: cover;
        border: 1px solid #333;
        height: 100%;
        width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h2
    {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
        width: 300px;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 5px 0;
    }
.con_cons
    {
        width: 500px;
        height: 400px;
        border: 1px solid #333;
        margin: 10px auto;
    }
.fa-solid:hover
{
  color: #ffffff;
}
.con_edit
{
  padding: 20px 0;
}
.con_edit i
{
  padding: 0 20px;
}